.app {
  background-color: #e5e5e5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.searchbar-wrapper {
  display: flex;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  padding: 20px;
}
